* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Roboto, sans-serif !important;
    min-height: 10000px;
}

.header {
    width: 100%;
    height: 100px;
    background-color: white;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    z-index: 99;
}

.header .header-logo {
    display: inline-block;
}

.header .header-logo img {
    width: 120px;
}

.header .header-menu-categories {
    list-style-type: none;
    display: inline-block;
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.header .header-menu-categories a {
    height: 100%;
    text-decoration: none;
}

.header .header-menu-categories a li {
    display: inline-block;
    margin-left: 50px;
    color: black;
    font-family: Delius, sans-serif;
    font-weight: bold;
    transition: color 0.2s ease-in-out;
    height: 100%;
    display: flex;
    align-items: center;
}

.header .header-menu-categories a li:hover {
    color: red;
    border-bottom: 2px solid #e6001f63;
}

.header .cart-button {
    padding: 10px 25px;
    border-radius: 30px;
}

.header .customer {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}

.header .customer .customer-icon {
    display: inline-block;
    margin-right: 20px;
    opacity: 0.7;
}

.header .customer .customer-icon:hover {
    opacity: 1;
}

.page-body {
    margin-top: 100px;
}

.page-body .commercial {
    width: 100%;
    height: 72px;
    background-color: #f4f4f4;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    font-family: Roboto, sans-serif;
}

.page-body .commercial h2 {
    font-size: 14px;
    font-weight: 700;
    margin: 0;
}

.page-body .commercial h3 {
    font-size: 14px;
    margin: 0;
    margin-top: 2px;
}

.page-body .commercial a {
    color: black;
}

.page-body .hero-image {
    display: flex;
    padding: 40px 0px;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

.big-categories {
    max-width: 1440px;
    margin: auto;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;

}

.box {
    border: 1px solid rgba(0, 0, 0, 0.274);
    /* border-radius: 10px; */
    flex-basis: 350px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
    height: 200px;
    padding: 20px;
}

.box:hover {
    border: 1px solid #E60020;
}

.categories-icon {
    color: #E60020;
    display: inline-block !important;

}

.box p {
    display: inline-block;
    font-family: Roboto, sans-serif;
    font-size: 24px;
    text-transform: uppercase;
    font-weight: bold;
    margin: 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    /* margin-left: 10px; */
}

.categories-card {
    display: flex;
    flex-flow: row nowrap;
}

.new-arrivals {
    max-width: 1440px;
    margin: auto;
    margin-top: 100px;
    height: 500px;
}

.new-arrivals h2 {
    color: #E60020;
    font-weight: bold;
    margin-bottom: 35px;
    display: inline-block;
    margin-right: 10px;
}

.new-arrivals .bi-arrow-bar-right {
    color: #E60020;
}

.new-arrivals .new-arrivals-container {
    display: grid;
    height: 100%;
    width: 100%;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 100%;
    gap: 30px;
}

.new-arrivals .new-arrivals-container .col {
    height: 100% !important; 
}

.new-arrivals .new-arrivals-container .col .card {
    overflow: hidden;
}

.new-arrivals .new-arrivals-container .col .card:hover {
    border: 1px solid rgba(0, 0, 0, 0.377);     
}

.new-arrivals .new-arrivals-container .col .card img {
    transition: transform 0.4s ease-in-out;
}

.new-arrivals .new-arrivals-container .col .card:hover img {
    transform: scale(1.05); 
}

.new-arrivals .new-arrivals-container .col .card .card-body {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
}

.new-arrivals .new-arrivals-container .col .card .card-body .card-title {
    font-family: Schoolbell, sans-serif !important;
    font-weight: 400;
    color: #9f6f00 !important;
}

.new-arrivals .new-arrivals-container .col .card .card-body .card-info .card-name {
    font-family: Quicksand, sans-serif !important;
    font-weight: bolder;
}

.card-bottom {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.bi-balloon-heart {
    opacity: 0.5;
}

.bi-balloon-heart:hover {
    opacity: 1;
}

.new-arrivals .new-arrivals-container .col .card .card-body .card-price {
    font-family: Roboto, sans-serif !important;
    font-weight: 500;
    font-size: 25px;
    color: #E60020 !important;
}